/*Large Devices, Wide Screens*/
@media only screen and (min-width : 1200px) {
	.hero h1{
		font-size: 100px;
	}
	.hero h2{
		font-size: 35px;
	}	
}
/*======================================================================*/
/*Medium Devices, Desktops*/
@media only screen and (max-width : 992px) {
	#largeDisplay{
		display: none;
	}
	.main_h nav ul a {
		font-size: 11px;
	}
	.main_h .fa-facebook{
		font-size: 13px;
	}
	.main_h .fa-twitter{
		font-size: 13px;
		margin-left: 13px;
	}
	.main_h .fa-instagram{
		font-size: 13px;
		margin-left: 13px;
	}
	.main_h .fa-wordpress{
		font-size: 13px;
		margin-left: 13px;
	}
}
@media only screen and (min-width : 992px) {
	#smallDisplay{
		display: none;
	}	
}
/*======================================================================*/
/*Small Devices, Tablets*/
@media only screen and (max-width: 768px) {
	.main_h {
		padding-top: 25px;
	}
	.logo {
		float: none;
	}
	.main_h nav {
		width: 100%;
	}
	.main_h nav ul {
		padding-top: 10px;
		margin-bottom: 22px;
		float: left;
		text-align: center;
		width: 100%;
	}
	.main_h nav ul li {
		width: 100%;
		padding: 7px 0;
		margin: 0;
	}
	.mobile-toggle {
		display: block;
	}
	.arrow{
		bottom: 75px;
	}
	.logo{
		margin-top: -7px;
	}
	.main_h .fa-facebook{
		font-size: 20px;
	}
	.main_h .fa-twitter{
		margin-left: 40px;
		font-size: 20px;
	}
	.main_h .fa-instagram{
		margin-left: 40px;
		font-size: 20px;
		
	}
	.main_h .fa-wordpress{
		margin-left: 40px;
		font-size: 20px;
	}
	#com img, #cmn img, #familyDescription img, #familyTailgate img, #homecomingParade img, #footballPractice img, #sponsorDancer img, #dmail img, #letter img, #canning img{
		width: 50%;
	}	
}
@media only screen and (min-width: 768px) {
	.hero h1{
		font-size: 75px;
	}
	.hero h2{
		font-size: 30px;
	}
	#com img, #cmn img, #familyDescription img, #familyTailgate img, #homecomingParade img, #footballPractice img, #sponsorDancer img, #dmail img, #letter img, #canning img{
		width: 100%;
	}	
	#lineBreak{
		display: none;
	}
}
/*======================================================================*/
/*Extra Small Devices*/
@media only screen and (max-width: 480px) {
	#com img, #cmn img, #familyDescription img, #familyTailgate img, #homecomingParade img, #footballPractice img, #sponsorDancer img, #dmail img, #letter img, #canning img{
		width: 100%;
	}
	#overlay{
		height: 320px;
		width: 320px;
	}
	.text h2{
		font-size: 1.2em;
	}
}
@media only screen and (min-width: 480px) {
	#sidebar.affix-top {
		position: static;
		margin-top:65px;
	}
	#sidebar.affix {
		position: fixed;
		top:65px;
  	}
}
@media only screen and (max-width: 320px){
	.hero{
		padding-top: 10px;
	}
	.text{
		padding-top: 15%;
	}
	.arrow{
		display: none;
	}
	#overlay{
		width: 240px;
		height: 240px;
	}
}
/*======================================================================*/
/*iOS Devices*/
@media only screen and (max-width: 768px) and (max-height: 1024px){
	.hero, #apps, .glass{
		background-attachment: initial;
	}
}
@media only screen and (max-width: 1024px) and (max-height: 768px){
	.hero, #apps, .glass{
		background-attachment: initial;
	}
	.arrow{
		bottom: 75px;
	}
}
/*======================================================================*/
/*ETC*/
@media only screen and (max-height: 600px){
	#overlay{
		height: 320px;
		width: 320px;

	}
	.text h2{
		font-size: 1.2em;
	}
}
@media only screen and (max-height: 400px){
	.text{
		padding-top: 5%;
	}
	#overlay{
		width: 240px;
		height: 240px;
	}
}
@media only screen and (max-height: 300px){
	#overlay{
		top: 5%;
	}
}